@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.ActivePreviewPanel {
	width: 100%;
	height: 40rem;
	border-radius: 1rem;
	border: 1px solid var(--border-color);
}
